name: check

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  types:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
        with:
          python-version: '3.11'

      - uses: python/mypy@03fbaa941bccc3a9f8aea796d586603b67119bf2  # v1.18.1

  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
        with:
          python-version: '3.11'

      - name: Install package
        run: pip install .[test] pytest-cov

      - name: Run tests
        run: pytest test --mpl --cov=aep8 --cov=test

      - name: Upload to Codecov.io
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.0.0-beta
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
