name: check

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  types:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
        with:
          python-version: '3.11'

      - uses: python/mypy@412c19a6bde31e7afa7f41afdf8356664689ae80  # v1.19.1

  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
        with:
          python-version: '3.11'

      - name: Install package
        run: pip install .[test] pytest-cov

      - name: Run tests
        run: pytest test --mpl --cov=aep8 --cov=test

      - name: Upload to Codecov.io
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7  # v5.0.0-beta
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
