name: check

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  types:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
        with:
          python-version: '3.11'

      - uses: python/mypy@03fbaa941bccc3a9f8aea796d586603b67119bf2  # v1.18.1

  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
        with:
          python-version: '3.11'

      - name: Install package
        run: pip install .[test] pytest-cov

      - name: Run tests
        run: pytest test --mpl --cov=aep8 --cov=test

      - name: Upload to Codecov.io
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7  # v5.0.0-beta
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
